<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="./assets/mui1/css/icons-extra.css">
    <link rel="stylesheet" type="text/css" href="./css/detail.css">
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="./js/detail.js"></script>
    <script src="js/public.js"></script>
</head>

<body>
    <header class="mui-bar mui-bar-nav my-header">
        <h1 class="mui-title">商品详情</h1>
        <a class="mui-icon mui-icon-search mui-pull-right"></a>
    </header>
    <nav class="mui-bar mui-bar-tab my-footer">
        <a class="mui-tab-item" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <!-- <span class="mui-icon iconfont icon-daohanggouwuche"></span> -->
            <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <div class="mui-content">
        <div class="detail-container" id="detail-container">

        </div>
        <div class="detail-button">
            <button type="button" class="mui-btn mui-btn-warning checkCar">查看购物车</button>
            <button type="button" class="mui-btn mui-btn-danger addCar">加入购物车</button>
        </div>
    </div>
</body>
<script id="detailTpl" type="text/template">
    <div class="mui-slider">
        <div class="mui-slider-group">
        <% for(var i=0;i<result.pic.length;i++){  %>
            <div class="mui-slider-item"><a href="#"><img src="<%= result.pic[i].picAddr %>" /></a></div>
        <% } %>
        </div>
    </div>
    <div class="title">
        <%= result.proName %>
    </div>
    <div class="detail-price">
        价格:&nbsp;
        <span class="new-price">￥<%= result.price %></span>
        <span><del>￥<%= result.oldPrice %></del></span>
    </div>
    <div class="detail-size">
        尺码：
        <% var size=result.size.split("-") %>
        <% for(var i=size[0];i<size[1];i++) { %>
        <span><%= i %></span>
        <% } %>
    </div>
    <div class="detail-number">
        数量:&nbsp;
        <span id="del">-</span>
        <input type="text" name="inputNum" value="2" placeholder="" id="inputNum">
        <span id="add">+</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        剩余:<%= result.num%>件
    </div>
</script>

</html>