@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sn8hel');
  src:  url('fonts/icomoon.eot?sn8hel#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sn8hel') format('truetype'),
    url('fonts/icomoon.woff?sn8hel') format('woff'),
    url('fonts/icomoon.svg?sn8hel#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "\e958";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-delicious:before {
  content: "\eacd";
}
